.Button {
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
  color: var(--gray-500);
  border: none;
  padding: 15px 10px;
  background: var(--gray-200);
  border-radius: 15px;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.Button:hover {
  background: var(--gray-250);
}
