@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");

body,
html,
* {
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-100);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
